h5{
    font-size: 12px;
}

.P_Quart{
    position: relative;
    background-color: #005484;
    height: 60px;
    width: 15px;
    margin-left: 50px;
    top: 180px;
}

.S_Quart{
    position: relative;
    background-color: #005484;
    height: 120px;
    width: 15px;
    margin-left: 130px;
    top: 60px;
}

.T_Quart{
    position: relative;
    background-color: #005484;
    height: 110px;
    width: 15px;
    margin-left: 200px;
    top: -50px;
}

.Q_Quart{
    position: relative;
    background-color: #005484;
    height: 40px;
    width: 15px;
    margin-left: 280px;
    top: -90px;
}


.P_Quart::after{
    background-color: black;
    bottom: 0;
    content: ' ';
    height: 1px;
    width:300px;
    left: -20px;
    position: absolute;
    right: 0;
}

.P_Quart::before{
    background-color: black;
    bottom: -5px;
    content: ' ';
    height: 200px;
    width: 1px;
    left: -10px;
    position: absolute;
    right: 0;
}


.Chart1{
    font-size: 14px;
    position: relative;
    color: black;
    margin-left: 5px;
    top: 70px;
}

.Chart2{
    font-size: 14px;
    position: relative;
    color: black;
    margin-left: -2px;
    top: 130px;

}

.Chart3{
    font-size: 14px;
    position: relative;
    color: black;
    margin-left: -2px;
    top: 121px;
}

.Chart4{
    font-size: 14px;
    position: relative;
    color: black;
    margin-left: 5px;
    top: 52px;
}

.txt1{
    position: relative;
    color: black;
    margin-left: -15px;
    top: 73px;
}

.txt2{
    position: relative;
    color: black;
    margin-left: -19px;
    top: 133px;
}

.txt3{
    position: relative;
    color: black;
    margin-left: -15px;
    top: 124px;
}

.txt4{
    position: relative;
    color: black;
    margin-left: -15px;
    top: 53px;
}