body{
    background-color: #F2F2F2;
    font-family: sans-serif;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #038C73;
    outline: #848688 solid medium;
}

.Cont-1{
    position: fixed;
    left: 0px;
    top: -15px;
    height: 55px;
    width: 20%;
    background-color: #024D3F;
}

.Nome_do_Time{
    position: fixed;
    left: 5px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 20%;

}

.Btn_LgO{
    background-color: #024D3F;
    border: none;
    position: fixed;
    height: 40px;
    width: 5%;
    right: 0;
    top: 0;
    color: white;
    transition: 0.5s;
    font-weight: bold;
}

.Btn_LgO:hover{
    background-color: #203731 ;
    color: white;
}

.Menu{
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 42px;
    height: 100%;
    width: 20%;
    background-color: #024D3F;
    box-shadow: 0px 2px 20px;
}

a{
    color: white;
    text-decoration: none;
    margin-top: 62px;
}

a:hover{
    background-color: #203731;
    color: white;
    text-decoration: none;
}

.Lista-box{
    background-color: #024D3F;
    display: flex;
    height: 40px;
    top: 0px;
}

.Lista-box:hover{
    background-color: #203731;
    color: white;
}

.Dash{
    position: relative;
    list-style: none;
    top: 8px

}

.Jogadores{
    position: relative;
    list-style: none;
    top: 8px

}

.Novo_Jogador{
    position: relative;
    list-style: none;
    top: 8px

}

.Perfil{
    position: relative;
    list-style: none;
    top: 8px

}

h2{
    position: relative;
    left: 15px;
    color: #000;
    font-size: 20px;
}

h2::after {
    background-color: black;
    bottom: -5px;
    content: ' ';
    height: 1px;
    width:300px;
    left: 0;
    position: absolute;
    right: 0;
}

.Cont-2{
    position: relative;
    width: 80%;
    height: 100%;
    top: 70px;
    margin-left: auto;

}

.Pontos_feitos{
    position: relative;
    top: 30px;
    left: 30px;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #848688;
}

.Jardas_Ganhas{
    position: relative;
    top: -320px;
    left: 415px;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #848688;
}

.Sacks_forçados{
    position: relative;
    top: -670px;
    left: 800px;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #848688;
}

.Turn_Overs{
    position: relative;
    top: -630px;
    left: 30px;;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #848688;
}

.Ag_jogos{
    position: relative;
    top: -980px;
    left:  415px;
    background-color: whitesmoke;
    width: 750px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #848688;
}
.schedule{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 10px;
}
p{
    padding-right: 40px;
    padding-left: 60px;
}
